// Estilos componente GameOver

.game-over {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: -20px -40px;
    background-color: #cb5641c6;
    color: white;
    font-size: 60px;
}
